<h2>Todo page!</h2>

{{#if users.length}}
<ul>
    {{#each users}}
    <li>{{username}}
        {{#if todo.length}}
        <ul>
            {{#each todo}}
            <li class="todo">
                <form action="/complete" method="POST">
                    <label>
                        {{#if completed}}
                        <input type="checkbox" checked name="completed">
                        <span class="completed">{{title}}</span>
                        {{else}}
                        <input type="checkbox" name="completed">
                        <span>{{title}}</span>
                        {{/if}}

                        <input type="hidden" value="{{_id}}" name="id">

                        <button class="btn btn-small" type="submit">Save</button>
                    </label>
                </form>
            </li>
            {{/each}}
        </ul>
        {{else}}
        <p>No Todos</p>
        {{/if}}
    </li>
    {{/each}}
</ul>
{{else}}
<p>No Users</p>
{{/if}}